<a href="https://colab.research.google.com/github/thorat1607/thorat1607/blob/ML_practical/ML_prac_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Python Syntax:<br>
(to print a statement in python)

In [ ]:
print("Hello World!")

Hello World!

2. Python Comment:
   (Singl-line comment)

In [ ]:
#to print my name
print("My name is Parth")

My name is Parth

3. Python variables:

In [ ]:
x = 1607
y = "Parth"
print(x)
print(y)

1607
Parth

4. Python Casting:

In [ ]:
x = int(1.6)
y = str(3)
print(type(y))
print(x)
print(y)

<class 'str'>
1
3

5. Python Strings<br>
   5.1 Slicing String<br>
   5.2 Modify String<br>
   5.3 Concatenate String

In [ ]:
#5.1 Slicing String
a = "Parth"
print(a[2:]) #range from start & end not included
print(a[:4]) #range from end & start not included
print(a[1:4]) # range is defined for start and end

rth
Part
art

In [ ]:
#5.2 Modify String
a = "Parth Thorat"
print(a.upper())
print(a.lower())
print(a.split(","))
print(a.replace("Parth","Arjun"))

PARTH THORAT
parth thorat
['Parth Thorat']
Arjun Thorat

In [ ]:
#5.3 Concatenate String
a = "Parth"
b = "Thorat"
c = a +" "+b
print("My Name is "+ c)

My Name is Parth Thorat

 6. Python Lists, Tuples, Dictionaries, Set:

In [5]:
#list
list_1 = ["parth", True, 1607, "male"]
print(list_1)
print(type(list_1))

#tuple
tuple_1 = ("parth", True, 1607, "male")
print(tuple_1)
print(type(tuple_1))

#Dictionaries
dict_1 = {"Name": "Parth", "BOD": 1607, "Current": "Student"}
print(dict_1)
print(type(dict_1))

#Set
set_1 = {"Parth", 1607, "Student"}
print(set_1)
print(type(set_1))

['parth', True, 1607, 'male']
<class 'list'>
('parth', True, 1607, 'male')
<class 'tuple'>
{'Name': 'Parth', 'BOD': 1607, 'Current': 'Student'}
<class 'dict'>
{'Parth', 'Student', 1607}
<class 'set'>

7. Python If-Else Statement:

In [7]:
#To print whether no. is odd or even
a = int(input("Enter number: "))
if(a%2==0):
  print("The given no. is even")
else:
  print("The given no. is odd")

Enter number: 7
The given no. is odd

8. Python For loop Statement:

In [9]:
#to print sum of n numbers
n = int(input("Enter Natural no.: "))
total_sum = 0
for i in range(1,n+1):
  total_sum = total_sum + i
print("total sum of given no. is", total_sum)

Enter Natural no.: 4
total sum of given no. is 10

9. Python While Loop Statement:

In [20]:
#To print factorial of N
n = int(input("Enter positive number: "))
num = 1
while n>=1:
  num = num*n
  n = n-1
print("The factorial number is ",num)

Enter positive number: 5
The factorial number is  120

10. Python Function Statement

In [22]:
def my_name(fname, lname):
  print("My name is " + fname +" " + lname)

my_name("Parth", "Thorat")

My name is Parth Thorat